<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PFApplicationShortVersion</key>
	<string>0.9.3.7beta</string>
	<key>PFApplicationVersion</key>
	<string>116</string>
	<key>PFLibraryVersion</key>
	<real>0.90799999237060547</real>
	<key>PFSavedDate</key>
	<date>2009-04-18T10:09:16Z</date>
</dict>
</plist>
