<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSOutlineView Items folders</key>
	<array>
		<string>x-coredata://2847BBA8-4AF3-4CC6-A4A1-2F4263938EA2/Folder/p1</string>
		<string>x-coredata://2847BBA8-4AF3-4CC6-A4A1-2F4263938EA2/Folder/p2</string>
		<string>x-coredata://2847BBA8-4AF3-4CC6-A4A1-2F4263938EA2/Folder/p3</string>
		<string>x-coredata://2847BBA8-4AF3-4CC6-A4A1-2F4263938EA2/Folder/p4</string>
	</array>
	<key>NSSplitView Subview Frames sourceListBottom</key>
	<array>
		<string>0.000000, 0.000000, 185.000000, 587.000000, NO</string>
		<string>0.000000, 588.000000, 185.000000, -1.000000, NO</string>
	</array>
	<key>NSSplitView Subview Frames tasks</key>
	<array>
		<string>0.000000, 0.000000, 864.000000, 548.000000, NO</string>
		<string>0.000000, 549.000000, 864.000000, 38.000000, NO</string>
	</array>
	<key>NSSplitView Subview Frames tasksWindowMain</key>
	<array>
		<string>0.000000, 0.000000, 185.000000, 610.000000, NO</string>
		<string>186.000000, 0.000000, 864.000000, 610.000000, NO</string>
	</array>
	<key>NSTableView Columns tasksOutlineView</key>
	<array>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU1N0cmluZwGEhAhOU09iamVjdACF
		hAErBGxpc3SG
		</data>
		<string>97</string>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU1N0cmluZwGEhAhOU09iamVjdACF
		hAErCS9wcmlvcml0eYY=
		</data>
		<string>35</string>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU1N0cmluZwGEhAhOU09iamVjdACF
		hAErBHRhc2uG
		</data>
		<string>664</string>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU1N0cmluZwGEhAhOU09iamVjdACF
		hAErBi9zdGFydIY=
		</data>
		<string>71</string>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU1N0cmluZwGEhAhOU09iamVjdACF
		hAErBC9kdWWG
		</data>
		<string>71</string>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU1N0cmluZwGEhAhOU09iamVjdACF
		hAErCS9lc3RpbWF0ZYY=
		</data>
		<string>57</string>
	</array>
	<key>NSTableView Hidden Columns tasksOutlineView</key>
	<array>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU1N0cmluZwGEhAhOU09iamVjdACF
		hAErBGxpc3SG
		</data>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU1N0cmluZwGEhAhOU09iamVjdACF
		hAErCS9lc3RpbWF0ZYY=
		</data>
	</array>
	<key>NSTableView Sort Ordering tasksOutlineView</key>
	<array/>
	<key>NSWindow Frame tasks</key>
	<string>115 128 1050 632 0 0 1280 778 </string>
	<key>PFExtendedOutlineView folders selection</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGCQpYJHZlcnNpb25UJHRvcFkkYXJjaGl2ZXJYJG9iamVjdHMS
	AAGGoNEHCFRyb290gAFfEA9OU0tleWVkQXJjaGl2ZXKkCwwSE1UkbnVsbNINDg8QViRj
	bGFzc1pOUy5vYmplY3RzgAOhEYACXxA6eC1jb3JlZGF0YTovLzI4NDdCQkE4LTRBRjMt
	NENDNi1BNEExLTJGNDI2MzkzOEVBMi9MaXN0L3AxNdIUFRYXWCRjbGFzc2VzWiRjbGFz
	c25hbWWjFxgZXk5TTXV0YWJsZUFycmF5V05TQXJyYXlYTlNPYmplY3QIERofKTI3Oj9B
	U1heY2p1d3l7uL3G0dXk7AAAAAAAAAEBAAAAAAAAABoAAAAAAAAAAAAAAAAAAAD1
	</data>
	<key>PFExtendedOutlineView tags selection</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGCQpYJHZlcnNpb25UJHRvcFkkYXJjaGl2ZXJYJG9iamVjdHMS
	AAGGoNEHCFRyb290gAFfEA9OU0tleWVkQXJjaGl2ZXKkCwwSE1UkbnVsbNINDg8QViRj
	bGFzc1pOUy5vYmplY3RzgAOhEYACXxA5eC1jb3JlZGF0YTovLzI4NDdCQkE4LTRBRjMt
	NENDNi1BNEExLTJGNDI2MzkzOEVBMi9UYWcvcDE00hQVFhdYJGNsYXNzZXNaJGNsYXNz
	bmFtZaMXGBleTlNNdXRhYmxlQXJyYXlXTlNBcnJheVhOU09iamVjdAgRGh8pMjc6P0FT
	WF5janV3eXu3vMXQ1OPrAAAAAAAAAQEAAAAAAAAAGgAAAAAAAAAAAAAAAAAAAPQ=
	</data>
	<key>PFSplitView Subview Lengths sourceListBottom</key>
	<array>
		<real>587</real>
		<real>241</real>
	</array>
	<key>PFSplitView Subview Lengths tasks</key>
	<array>
		<real>548</real>
		<real>38</real>
	</array>
	<key>PFSplitView Subview Lengths tasksWindowMain</key>
	<array>
		<real>185</real>
		<real>864</real>
	</array>
	<key>PFTabControl tabs objects</key>
	<array>
		<string>688680410762289C</string>
	</array>
	<key>PFTabControl tabs selected index</key>
	<integer>0</integer>
	<key>PFTabControl tabs userInfo</key>
	<array>
		<dict>
			<key>tabType</key>
			<string>list</string>
			<key>title</key>
			<string>Empty</string>
			<key>viewOptions</key>
			<dict>
				<key>displayMode</key>
				<integer>0</integer>
				<key>expandedState</key>
				<array/>
				<key>groupingLimit</key>
				<integer>0</integer>
				<key>hideArchivedTasks</key>
				<true/>
				<key>numberOfCards</key>
				<integer>0</integer>
				<key>scrollPositionState</key>
				<dict>
					<key>scrollToRow</key>
					<integer>0</integer>
					<key>scrollToRowOffset</key>
					<real>0.0</real>
				</dict>
				<key>selectionState</key>
				<data>
				YnBsaXN0MDDUAQIDBAUGCQpYJHZlcnNpb25UJHRvcFkk
				YXJjaGl2ZXJYJG9iamVjdHMSAAGGoNEHCFRyb290gAFf
				EA9OU0tleWVkQXJjaGl2ZXKjCwwRVSRudWxs0g0ODxBW
				JGNsYXNzWk5TLm9iamVjdHOAAqDSEhMUFVgkY2xhc3Nl
				c1okY2xhc3NuYW1lohUWV05TQXJyYXlYTlNPYmplY3QI
				ERofKTI3Oj9BU1ddYml0dnd8hZCTmwAAAAAAAAEBAAAA
				AAAAABcAAAAAAAAAAAAAAAAAAACk
				</data>
				<key>title</key>
				<string>Empty</string>
			</dict>
		</dict>
	</array>
	<key>groupViewOptions</key>
	<dict>
		<key>017AEDC9039B87D2</key>
		<dict>
			<key>displayMode</key>
			<integer>0</integer>
			<key>expandedState</key>
			<array/>
			<key>groupingLimit</key>
			<integer>0</integer>
			<key>hideArchivedTasks</key>
			<true/>
			<key>numberOfCards</key>
			<integer>0</integer>
			<key>scrollPositionState</key>
			<dict>
				<key>scrollToRow</key>
				<integer>0</integer>
				<key>scrollToRowOffset</key>
				<real>0.0</real>
			</dict>
			<key>selectionState</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGCQpYJHZlcnNpb25UJHRvcFkkYXJjaGl2
			ZXJYJG9iamVjdHMSAAGGoNEHCFRyb290gAFfEA9OU0tleWVkQXJj
			aGl2ZXKmCwwSGBkfVSRudWxs0g0ODxBWJGNsYXNzWk5TLm9iamVj
			dHOABaERgALTDRMUFRYXV05TLmJhc2VbTlMucmVsYXRpdmWABIAA
			gANfEDl4LWNvcmVkYXRhOi8vMjg0N0JCQTgtNEFGMy00Q0M2LUE0
			QTEtMkY0MjYzOTM4RUEyL1Rhc2svcDbSGhscHVgkY2xhc3Nlc1ok
			Y2xhc3NuYW1loh0eVU5TVVJMWE5TT2JqZWN00hobICGiIR5XTlNB
			cnJheQAIABEAGgAfACkAMgA3ADoAPwBBAFMAWgBgAGUAbAB3AHkA
			ewB9AIQAjACYAJoAnACeANoA3wDoAPMA9gD8AQUBCgENAAAAAAAA
			AgEAAAAAAAAAIgAAAAAAAAAAAAAAAAAAARU=
			</data>
			<key>title</key>
			<string>Uno</string>
		</dict>
		<key>0393308371A7C49A</key>
		<dict>
			<key>displayMode</key>
			<integer>0</integer>
			<key>expandedState</key>
			<array/>
			<key>groupingAttribute</key>
			<string>topList</string>
			<key>groupingLimit</key>
			<integer>0</integer>
			<key>hideArchivedTasks</key>
			<true/>
			<key>numberOfCards</key>
			<integer>0</integer>
			<key>scrollPositionState</key>
			<dict>
				<key>scrollToRow</key>
				<integer>0</integer>
				<key>scrollToRowOffset</key>
				<real>0.0</real>
			</dict>
			<key>selectionState</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGCQpYJHZlcnNpb25UJHRvcFkkYXJjaGl2
			ZXJYJG9iamVjdHMSAAGGoNEHCFRyb290gAFfEA9OU0tleWVkQXJj
			aGl2ZXKmCwwSGBkfVSRudWxs0g0ODxBWJGNsYXNzWk5TLm9iamVj
			dHOABaERgALTDRMUFRYXV05TLmJhc2VbTlMucmVsYXRpdmWABIAA
			gANfEDl4LWNvcmVkYXRhOi8vMjg0N0JCQTgtNEFGMy00Q0M2LUE0
			QTEtMkY0MjYzOTM4RUEyL1Rhc2svcDPSGhscHVgkY2xhc3Nlc1ok
			Y2xhc3NuYW1loh0eVU5TVVJMWE5TT2JqZWN00hobICGiIR5XTlNB
			cnJheQAIABEAGgAfACkAMgA3ADoAPwBBAFMAWgBgAGUAbAB3AHkA
			ewB9AIQAjACYAJoAnACeANoA3wDoAPMA9gD8AQUBCgENAAAAAAAA
			AgEAAAAAAAAAIgAAAAAAAAAAAAAAAAAAARU=
			</data>
			<key>title</key>
			<string>spaced tag</string>
		</dict>
		<key>0652FD1025ABFB4D</key>
		<dict>
			<key>displayMode</key>
			<integer>0</integer>
			<key>expandedState</key>
			<array/>
			<key>groupingLimit</key>
			<integer>0</integer>
			<key>hideArchivedTasks</key>
			<true/>
			<key>numberOfCards</key>
			<integer>0</integer>
			<key>scrollPositionState</key>
			<dict>
				<key>scrollToRow</key>
				<integer>0</integer>
				<key>scrollToRowOffset</key>
				<real>0.0</real>
			</dict>
			<key>selectionState</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGCQpYJHZlcnNpb25UJHRvcFkkYXJjaGl2
			ZXJYJG9iamVjdHMSAAGGoNEHCFRyb290gAFfEA9OU0tleWVkQXJj
			aGl2ZXKmCwwSGBkfVSRudWxs0g0ODxBWJGNsYXNzWk5TLm9iamVj
			dHOABaERgALTDRMUFRYXV05TLmJhc2VbTlMucmVsYXRpdmWABIAA
			gANfEDl4LWNvcmVkYXRhOi8vMjg0N0JCQTgtNEFGMy00Q0M2LUE0
			QTEtMkY0MjYzOTM4RUEyL1Rhc2svcDXSGhscHVgkY2xhc3Nlc1ok
			Y2xhc3NuYW1loh0eVU5TVVJMWE5TT2JqZWN00hobICGiIR5XTlNB
			cnJheQAIABEAGgAfACkAMgA3ADoAPwBBAFMAWgBgAGUAbAB3AHkA
			ewB9AIQAjACYAJoAnACeANoA3wDoAPMA9gD8AQUBCgENAAAAAAAA
			AgEAAAAAAAAAIgAAAAAAAAAAAAAAAAAAARU=
			</data>
			<key>title</key>
			<string>Someday</string>
		</dict>
		<key>12DDC5E425D568C9</key>
		<dict>
			<key>displayMode</key>
			<integer>0</integer>
			<key>expandedState</key>
			<array/>
			<key>groupingAttribute</key>
			<string>dueOrStartDate</string>
			<key>groupingLimit</key>
			<integer>0</integer>
			<key>hideArchivedTasks</key>
			<true/>
			<key>numberOfCards</key>
			<integer>0</integer>
			<key>scrollPositionState</key>
			<dict>
				<key>scrollToRow</key>
				<integer>0</integer>
				<key>scrollToRowOffset</key>
				<real>0.0</real>
			</dict>
			<key>selectionState</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGCQpYJHZlcnNpb25UJHRvcFkkYXJjaGl2
			ZXJYJG9iamVjdHMSAAGGoNEHCFRyb290gAFfEA9OU0tleWVkQXJj
			aGl2ZXKjCwwRVSRudWxs0g0ODxBWJGNsYXNzWk5TLm9iamVjdHOA
			AqDSEhMUFVgkY2xhc3Nlc1okY2xhc3NuYW1lohUWV05TQXJyYXlY
			TlNPYmplY3QIERofKTI3Oj9BU1ddYml0dnd8hZCTmwAAAAAAAAEB
			AAAAAAAAABcAAAAAAAAAAAAAAAAAAACk
			</data>
			<key>title</key>
			<string>Today</string>
		</dict>
		<key>2E98AD0D305CFC7F</key>
		<dict>
			<key>displayMode</key>
			<integer>0</integer>
			<key>expandedState</key>
			<array/>
			<key>groupingLimit</key>
			<integer>0</integer>
			<key>hideArchivedTasks</key>
			<true/>
			<key>numberOfCards</key>
			<integer>0</integer>
			<key>scrollPositionState</key>
			<dict>
				<key>scrollToRow</key>
				<integer>0</integer>
				<key>scrollToRowOffset</key>
				<real>0.0</real>
			</dict>
			<key>selectionState</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGCQpYJHZlcnNpb25UJHRvcFkkYXJjaGl2
			ZXJYJG9iamVjdHMSAAGGoNEHCFRyb290gAFfEA9OU0tleWVkQXJj
			aGl2ZXKmCwwSGBkfVSRudWxs0g0ODxBWJGNsYXNzWk5TLm9iamVj
			dHOABaERgALTDRMUFRYXV05TLmJhc2VbTlMucmVsYXRpdmWABIAA
			gANfEDl4LWNvcmVkYXRhOi8vMjg0N0JCQTgtNEFGMy00Q0M2LUE0
			QTEtMkY0MjYzOTM4RUEyL1Rhc2svcDTSGhscHVgkY2xhc3Nlc1ok
			Y2xhc3NuYW1loh0eVU5TVVJMWE5TT2JqZWN00hobICGiIR5XTlNB
			cnJheQAIABEAGgAfACkAMgA3ADoAPwBBAFMAWgBgAGUAbAB3AHkA
			ewB9AIQAjACYAJoAnACeANoA3wDoAPMA9gD8AQUBCgENAAAAAAAA
			AgEAAAAAAAAAIgAAAAAAAAAAAAAAAAAAARU=
			</data>
			<key>title</key>
			<string>Inbox</string>
		</dict>
		<key>4C5F390054C93BCC</key>
		<dict>
			<key>displayMode</key>
			<integer>0</integer>
			<key>expandedState</key>
			<array/>
			<key>groupingAttribute</key>
			<string>subgroup</string>
			<key>groupingLimit</key>
			<integer>5</integer>
			<key>hideArchivedTasks</key>
			<true/>
			<key>numberOfCards</key>
			<integer>0</integer>
			<key>scrollPositionState</key>
			<dict>
				<key>scrollToRow</key>
				<integer>-1</integer>
				<key>scrollToRowOffset</key>
				<real>0.0</real>
			</dict>
			<key>selectionState</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGCQpYJHZlcnNpb25UJHRvcFkkYXJjaGl2
			ZXJYJG9iamVjdHMSAAGGoNEHCFRyb290gAFfEA9OU0tleWVkQXJj
			aGl2ZXKjCwwRVSRudWxs0g0ODxBWJGNsYXNzWk5TLm9iamVjdHOA
			AqDSEhMUFVgkY2xhc3Nlc1okY2xhc3NuYW1lohUWV05TQXJyYXlY
			TlNPYmplY3QIERofKTI3Oj9BU1ddYml0dnd8hZCTmwAAAAAAAAEB
			AAAAAAAAABcAAAAAAAAAAAAAAAAAAACk
			</data>
			<key>title</key>
			<string>On Hold</string>
		</dict>
		<key>688680410762289C</key>
		<dict>
			<key>displayMode</key>
			<integer>0</integer>
			<key>expandedState</key>
			<array/>
			<key>groupingLimit</key>
			<integer>0</integer>
			<key>hideArchivedTasks</key>
			<true/>
			<key>numberOfCards</key>
			<integer>0</integer>
			<key>scrollPositionState</key>
			<dict>
				<key>scrollToRow</key>
				<integer>0</integer>
				<key>scrollToRowOffset</key>
				<real>0.0</real>
			</dict>
			<key>selectionState</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGCQpYJHZlcnNpb25UJHRvcFkkYXJjaGl2
			ZXJYJG9iamVjdHMSAAGGoNEHCFRyb290gAFfEA9OU0tleWVkQXJj
			aGl2ZXKjCwwRVSRudWxs0g0ODxBWJGNsYXNzWk5TLm9iamVjdHOA
			AqDSEhMUFVgkY2xhc3Nlc1okY2xhc3NuYW1lohUWV05TQXJyYXlY
			TlNPYmplY3QIERofKTI3Oj9BU1ddYml0dnd8hZCTmwAAAAAAAAEB
			AAAAAAAAABcAAAAAAAAAAAAAAAAAAACk
			</data>
			<key>title</key>
			<string>Empty</string>
		</dict>
		<key>7689D8F04F96249F</key>
		<dict>
			<key>displayMode</key>
			<integer>0</integer>
			<key>expandedState</key>
			<array/>
			<key>groupingAttribute</key>
			<string>topList</string>
			<key>groupingLimit</key>
			<integer>0</integer>
			<key>hideArchivedTasks</key>
			<true/>
			<key>numberOfCards</key>
			<integer>0</integer>
			<key>scrollPositionState</key>
			<dict>
				<key>scrollToRow</key>
				<integer>0</integer>
				<key>scrollToRowOffset</key>
				<real>0.0</real>
			</dict>
			<key>selectionState</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGCQpYJHZlcnNpb25UJHRvcFkkYXJjaGl2
			ZXJYJG9iamVjdHMSAAGGoNEHCFRyb290gAFfEA9OU0tleWVkQXJj
			aGl2ZXKjCwwRVSRudWxs0g0ODxBWJGNsYXNzWk5TLm9iamVjdHOA
			AqDSEhMUFVgkY2xhc3Nlc1okY2xhc3NuYW1lohUWV05TQXJyYXlY
			TlNPYmplY3QIERofKTI3Oj9BU1ddYml0dnd8hZCTmwAAAAAAAAEB
			AAAAAAAAABcAAAAAAAAAAAAAAAAAAACk
			</data>
			<key>title</key>
			<string>pyhitlist</string>
		</dict>
	</dict>
	<key>lastSmartFolderReloadDate</key>
	<date>2009-04-18T10:20:17Z</date>
	<key>sourceListMode</key>
	<integer>0</integer>
</dict>
</plist>
